<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 클래스 별명 설정 -->
    <typeAliases>
        <typeAlias type="helper.account.dto.AccountDTO" alias="accountDTO"/>
    </typeAliases>
    <!-- SQL mapper 등록 -->
    <mappers>
        <mapper resource="mybatis/accountMapper.xml"/>
    </mappers>
</configuration>
